[submodule "puppet"]
	path = puppet
	url = git://github.com/coraltech/puppet-lib.git
[submodule "config"]
	path = config
	url = git://github.com/coraltech/puppet-drupal-config.git
[submodule "bash"]
	path = bash
	url = git://github.com/coraltech/bash-shared_lib.git
[submodule "lib/gems/git"]
	path = lib/gems/git
	url = git://github.com/coraltech/ruby-git.git
